.background{
  background-color:rgba(94, 92, 91 , 0.4);

}

.grid{
	text-align: center;
	border-radius: 20px;

}
.HomeText{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;


}

.Home{
  background-color: black;

}

.Text{
background-color: white;
color: black;

}

.Cards{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;

}

.Jumbotron{
  text-align:center;
  color: white;
  margin-bottom: 0%;
  background-color: #115115115;

}

.Sup1{
  color: white;
  background: #424242;

}
.Sup2{
  text-align: center;
  color: white;
  background: #757575;
}

.NavbarItem{
  color: #fff;
    transition: 0.35s;
    padding-right: 6px;
    padding-left: 6px;
    display: block;
    padding: .5rem 1rem;
    position: relative;
    overflow: hidden;
    touch-action: none;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;

}

.h1{

  padding-left: 2%;
  padding-top: 2%;
  color: white;
  text: center;

}

.h2{

  padding-left: 4%;
  padding-top: 4%;
  color: white;
  text: center;
  background-color: white;

}
.Padding{
margin-left: 7.5px;
margin-right: 7.5px;

}

.HeroText{
	color: white;
	opacity: 1;
	padding-top: 10px;
	padding-bottom: 10px;

}

.KontaktText{
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 1%;

}


.Picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 240px;

}

.SocialLinks {
	color: white;
	font-size: 5em;
  display: flex;
  text-align: center;
	margin: auto;

}


.Philosophie{
  padding-top: 1.5%;
  padding-bottom: 2.5%;

}
.H1-Titel{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;

}

.Jumbotron{
  text-align:center;
  margin-bottom: 0%;
  background-color: #115115115;

}



.Bild{
  padding-bottom: 2%;
  padding-top: 1%;
  border-radius: 20px;

}

.Platzhalter{
  opacity: 0;
  padding: 0.5%;
}

.Info{
  background-color: lightgrey;
}

.Footer{
  font-size: 20px;
  color:white;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #373737;

}
